[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
openai = "*"
elevenlabs= "v1.0.0b1"
pydantic = "BaseModel"
uvicorn = {extras = ["standard"], version = "*"}
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
